
body 
    font-family: 'Roboto', sans-serif;

header
    background #03045E


/* main 
    background: rgb(3,4,94);
    background: linear-gradient(45deg, rgba(3,4,94,1) 4%, rgba(255,255,255,1) 100%); 
    .results
        display none
        p
            animation: append-animate .3s linear;
        
@keyframes append-animate {
	from {
		transform: scaleY(0);
		opacity: 0;
	}
	to {
		transform: scaleY(1);
		opacity: 1;
	}
}
 */
